

* {
font-size: 15px
}


.exchange {
    text-shadow: 5px 5px 8px #000000;
    color: #B5B5B5;
    }


.thead {

    text-shadow: 5px 5px 8px #000000;
    background: rgb(41, 43, 44, 0.9);
}

#thead2 {

    text-shadow: 5px 5px 8px #000000;
    background: rgb(41, 43, 44, 0.9);
}

.table {
  text-shadow: 3px 3px 5px #000000;
  border-radius: 10px;
  background: rgb(41, 43, 44, 0.8);
}


th:first-of-type {
  border-top-left-radius: 10px;
}

th:last-of-type {
  border-top-right-radius: 10px;
}


.card-title1 {
    color: #E8E8E8;
    text-shadow: 5px 5px 8px #000000;
}

.card-text {
    text-shadow: 5px 5px 8px #000000;
}


.btn {
    padding: 5px 10px 5px;
    text-shadow: 5px 5px 8px #000000;
    border-radius: 10px;
}

.card-title {
    color: #e0c746;
    text-shadow: 5px 5px 8px #000000;
}

.navbar {
    background: rgb(41, 43, 44, 0.8);

}

.card {
    background: rgb(41, 43, 44, 0.8);
    border-radius: 10px;
}

.footer {
    background: rgb(41, 43, 44, 0.8);
    border-radius: 10px;
}

h2 {
  color: f1f1f1;
  text-shadow: 5px 10px 8px #000000;
 }

body {
    text-shadow: 5px 5px 8px #000000;
  background-image: url("bg.png");
  background-color: #393838;
  color: #f7f7f7;
  font-family: Arial, Helvetica, sans-serif;

}


/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { ... }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { 1000px }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { 900px }

@media (min-width: 1100px) {
    .container{
        max-width: 1300px;
    }
}
