* {
    font-family: "Times New Roman", Times, serif;
}

body {
    background-image: url("images/bg1.png");

}

.thead {
    cursor: pointer;
    font-size: 18px;
   
    text-shadow: 3px 3px 8px #000000;
    background: rgb(41, 43, 44, 0.9);
}

#thead2 {
    font-size: 18px;
    font-family: "Courier New", Courier, monospace;
    text-shadow: 5px 5px 8px #000000;
    background: rgb(41, 43, 44, 0.9);
    
}

.table {
    border-spacing: 2px;
    overflow: hidden;
    box-shadow: 2px 2px 10px black;
    text-shadow: 3px 3px 5px #000000;
    border-radius: 10px;
    background: rgb(41, 43, 44, 0.8);
}

th:first-of-type {
  border-top-left-radius: 10px;
}

th:last-of-type {
  border-top-right-radius: 10px;
}

.card-title1 {
    color: #E8E8E8;
    text-shadow: 5px 5px 8px #000000;
}


.card-text {
    text-shadow: 5px 5px 8px #000000;
}

a:hover {
    text-decoration: none;
}

 .btn_ex {
    box-shadow: 2px 2px 10px rgb(24, 24, 24);
    font-size: 14px;
    color: #e0c746;
    	
    padding: 5px;
    text-shadow: 3px 3px 8px #000000;
    background: rgb(41, 43, 44, 0.2);
    border-radius: 7px;
}

.m_button {
    color: #cbccc6;
    background-color: rgb(41, 43, 44, 0.2);
    box-shadow: 2px 2px 10px rgb(15, 15, 15);
    border-radius: 8px;
    font-weight: bold;
    font-size: 15px;
}

.m_button:hover {
    background-color: #ffc107;
}

.card-title {    
    font-weight: bold;
    font-size: 19px;
    color: #e0c746;
    text-shadow: 5px 5px 8px #000000;
}

/* .card-header {    
    font-size: 17px;
    font-family: "Courier New", Courier, monospace;
    color: #e0c746;
    text-shadow: 5px 5px 8px #000000;
} */



.card {
    box-shadow: 2px 2px 10px rgb(10, 10, 10);
    background: linear-gradient(350deg, rgba(28,28,28,1) 0%, rgb(49, 49, 49, 0.7) 99%);
    border-radius: 10px;
}

/* .card:hover {
    box-shadow: 2px 2px 10px rgb(10, 10, 10);
    background: rgba(67, 68, 68, 0.9);
    border-radius: 10px;
} */

.footer {
    background: rgb(41, 43, 44, 0.8);
    border-radius: 10px;
}

h2 {
  color: f1f1f1;
  text-shadow: 5px 10px 8px #000000;
 }



 @media screen and (max-width:600px) {  
    .dis {
        display: none;
        }

}


@media (min-width: 1100px) {
    .container{
        max-width: 1300px;
    }
}
