{% load static %} {% load format %} {% load humanize %}

<html>
<style>

</style>


<body>
    {% for x in api_epic_usd %}

    <!-- START ROW 1-->
    <div class="row no-gutters">
        <div class="col-lg-3 col-md-3 col-sm-6 px-1 pb-2">
            <!-- START Card 1-->
            <div class="card text-white h-100 pb-2">
                <div class="card-news" style="background: rgba(112, 112, 112, 0.1);">
                    <div class="card-title text-center pt-1">Epic-Cash Price:</div>
                </div>
                <table class="table1 w-100 ">
                    <tr class="align-items-center">
                        <td>
                            <div class="card-text text-white-50 font-weight-bold text-center pb-1 pt-1">
                                USD(T):
                            </div>
                        </td>
                        <td>
                            <div class="card-text text-right pr-2">
                                <span class="card-title1">{{ x.current_price|usd3}}</span>
                                <small>{{ arrow_check_price24|safe}}</small>
                            </div>
                        </td>
                    </tr>

                    <tr class="align-items-center">
                        <td>
                            <div class="card-text text-white-50 font-weight-bold text-center pt-2">BTC:
                            </div>
                        </td>
                        <td>
                            <div class="card-text text-right pr-2">
                                {% for x in api_epic_btc %}{{ x.current_price|btc}}
                                <small>{{ arrow_check_price24btc|safe}}{%endfor%}</small>
                            </div>
                        </td>
                    </tr>

                    <tr class="align-items-center">
                        <td>
                            <div class="card-text text-white-50 font-weight-bold text-center pt-2">24H:
                            </div>
                        </td>
                        <td>
                            <div class="card-text text-right pt-1 pr-2">
                                {{ x.price_change_percentage_24h_in_currency|procent}}
                                <small>{{ arrow_check_price24|safe}}</small>
                            </div>
                        </td>
                    </tr>

                    <tr class="align-items-center">
                        <td>
                            <div class="card-text text-white-50 font-weight-bold text-center pt-2">7D:
                            </div>
                        </td>
                        <td>
                            <div class="card-text text-right pr-2">
                                {{ x.price_change_percentage_7d_in_currency|procent}}
                                <small>{{ arrow_check_price7d|safe}}</small>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- END Card 1-->

        <!-- START CARD 2-->
        <div class="col-lg-3 col-md-3 col-sm-6 px-1 pb-2">
            <div class="card text-white h-100 pb-2">
                <div class="card-news" style="background: rgba(112, 112, 112, 0.1);">
                    <div class="card-title text-center pt-1">24H Volume:</div>
                </div>
                <table class="table1 w-100 ">
                    <tr class="align-items-center">
                        <td>
                            <div class="card-text text-white-50 font-weight-bold text-center pr-5 pt-2 pb-1">EPICS:
                            </div>
                        </td>
                        <td>
                            <div class="card-title1 text-right pt-1 pr-2 pb-1">
                                <img style="height: 23px;" class="pb-1" src="{% static 'images/btn1.png' %}">
                                {{ total_vol_epic|cala|intspace}}
                                {% for k, v in api_ticker.market_data.items %}
                                {% if k == 'circulating_supply' %}
                                <span class="text-muted"><small>{{ v|vol_supply|procent}}</small></span>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </td>
                    </tr>
                    <tr class="align-items-center">
                        <td>
                            <div class="card-text text-white-50 font-weight-bold white-50d text-center pr-5 pt-1 pb-1">
                                VALUE:
                            </div>
                        </td>
                        <td>
                            <div class="card-text text-right pr-2 pb-1">
                                <span class="card-text">${{total_vol|cala|intspace}}</span>
                                <span class="text-muted"><small>{{total_vol|usdtobtc|btc3}}</small></span>
                            </div>
                        </td>
                    </tr>
                    <tr class="align-items-center">
                        <td>
                            <div class="card-text text-white-50 font-weight-bold text-center pr-5 pt-1 pb-1">USD(T):
                            </div>
                        </td>
                        <td>
                            <div class="card-text text-right pr-2 pt-1 pb-1">$ {{ total_vol_usd|cala|intspace }}
                            </div>
                        </td>
                    </tr>
                    <tr class="align-items-center">
                        <td>
                            <div class="card-text text-white-50 font-weight-bold text-center pr-5 pt-1">BTC:
                            </div>
                        </td>
                        <td>
                            <div class="card-text text-right pr-2">
                                {{ total_vol_btc|btc3 }}
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- END Card 2-->

        <!-- START Card 3-->
        <div class="col-lg-3 col-md-3 col-sm-6 px-1 pb-2">
            <div class="card text-white h-100 pb-2">
                <div class="card-news" style="background: rgba(112, 112, 112, 0.1);">
                    <div class="card-title text-center pt-1">All Time High:</div>
                </div>
                <table class="table1 w-100 ">
                    <tr class="align-items-center">
                        <td>
                            <div class="card-text text-white-50 font-weight-bold text-center pt-2 pb-1">
                                USD(T):
                            </div>
                        </td>
                        <td>
                            <div class="card-text text-right pr-2 pt-1 pb-1">
                                <span class="card-title1">{{ x.ath|usd3}}</span>
                            </div>
                        </td>
                    </tr>
                    <tr class="align-items-center">
                        <td>
                            <div class="card-text text-white-50 font-weight-bold text-center pb-1 pt-1">
                                BTC:
                            </div>
                        </td>
                        <td>
                            <div class="card-text text-right pr-2 pb-0">
                                {% for x in api_epic_btc %}{{ x.ath|btc}}{%endfor%}
                            </div>
                        </td>
                    </tr>
                    <tr class="align-items-center">
                        <td>
                            <div class="card-text text-white-50 font-weight-bold text-center pt-1 pb-1 ">
                                DATE:
                            </div>
                        </td>
                        <td>
                            <div class="card-text text-right pt-2 pr-2 pb-1">
                                {{ x.ath_date|datex}}
                                <small><span class="text-muted">{{ x.ath_date|last_trade}}</span></small>
                            </div>
                        </td>
                    </tr>
                    <tr class="align-items-center">
                        <td>
                            <div class="card-text text-white-50 font-weight-bold text-center pt-2">
                                CHANGE:</div>
                        </td>
                        <td>
                            <div class="card-text text-right pr-2">
                                {{ x.ath_change_percentage|procent}}
                                <small>{{ arrow_check_ath|safe}}</small>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- END Card 3-->

        <!-- STATR CARD 4-->
        <div class="col-lg-3 col-md-3 col-sm-6 px-1 pb-2">
            <div class="card text-white h-100 pb-2">
                <div class="card-news" style="background: rgba(112, 112, 112, 0.1);">
                    <div class="card-title text-center pt-1">Market Cap:</div>
                </div>

                <table class="table1 w-100 ">
                    <tr class="align-items-center">
                        <td>
                            <div class="card-text text-white-50 font-weight-bold text-center pt-2 pb-1">
                                SUPPLY:
                            </div>
                        </td>
                        <td>
                            <div class="card-text text-right pr-2 pb-1 pt-2">
                                {% for k, v in api_ticker.market_data.items %}
                                {% if k == 'circulating_supply' %}
                                <img style="height: 20px;" class="pb-1" src="{% static 'images/btn1.png' %}">
                                {{ v|cala|intspace }}
                                {% endif %}
                                {% endfor %}
                            </div>
                        </td>
                    </tr>
                    <tr class="align-items-center">
                        <td>
                            <div class="card-text text-white-50 font-weight-bold text-center pt-0 pb-1">
                                USD(T):
                            </div>
                        </td>
                        <td>
                            <div class="card-text text-right pr-2 pb-1">
                                $ {{ x.market_cap|cala|intspace }}
                            </div>
                        </td>
                    </tr>
                    <tr class="align-items-center">
                        <td>
                            <div class="card-text text-white-50 font-weight-bold text-center pt-1 pb-1">
                                BTC:
                            </div>
                        </td>
                        <td>
                            <div class="card-text text-right pt-1 pr-2 pb-1">
                                {% for x in api_epic_btc %}{{ x.market_cap|btc3 }}{%endfor%}
                            </div>
                        </td>
                    </tr>
                    <tr class="align-items-center">
                        <td>
                            <div class="card-text text-white-50 font-weight-bold text-center pt-2">24H:
                            </div>
                        </td>
                        <td>
                            <div class="card-text text-right pr-2">
                                {{ x.market_cap_change_percentage_24h|procent}}
                                <small>{{ arrow_check_cap|safe}}</small>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        {% endfor %}
        <!-- END Card 4-->
    </div>
    <!-- END ROW 1-->
    <!-- START ROW 2-->
    <div class="row pb-2 pt-3 no-gutters d-flex justify-content-left">
        <div class="col-lg-4 col-md-6 col-sm-10 px-1 pt-1" style="min-width: 385px;">
            <div class="card card-link text-white h-100">
                <div class="text-center">
                    <a href="#epic-promo" data-toggle="modal" data-target="#epic-promo"><img class="img-fluid rounded"
                            src="{% static 'images/epic-promo1.png' %}" alt="fastepic.eu"></a>

                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-10 px-1 pt-1 " style="min-width: 385px;">
            <div class="card card-link text-white h-100"
                style="background-image: url('{% static 'images/fast-bg.png' %}');  background-position: center center;">
                <a href="{% url 'fastepic' %}" style="text-decoration: none;">
                    <div class="card-title1 text-center"><img class="card-img pt-2 mr-2"
                            src="{% static 'images/t_fastepiclogo1.png' %}" alt="fastepic.eu">

                        <div class="px-4 pb-2">
                            <span style="font-size: 20px;"> Read more about <span
                                    class="text-warning">fastepic.eu</span> and how to create your
                                account within minutes.
                            </span>
                        </div>
                </a>
            </div>
        </div>
    </div>
    </div>
    <!-- END ROW 2-->

    <!-- Modal -->
    <div class="modal fade" id="epic-promo" tabindex="-1" role="dialog" aria-labelledby="epic-promo" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" style="border-radius: 10px; background: linear-gradient(350deg, rgba(28,28,28,1) 0%, rgb(49, 49, 49, 0.9) 99%);">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <img class="img-fluid rounded shadow" src="{% static 'images/epic-promo1.png' %}" alt="fastepic.eu">
                    <div class="text-center card-title1 px-2 py-2">
                        Join our Epic community!<br>
                        Ask for details at official
                        <a href="https://t.me/EpicCash" class="text-light" style="font-size: 19px;" target="_blank"><i
                                class="fab fa-telegram-plane text-info">
                            </i> Telegram </a> or
                        <a href="https://discordapp.com/invite/ZjnC6bh" class="text-light" style="font-size: 19px;"
                            target="_blank">
                            <i class="fab fa-discord text-info"></i> Discord</a>.<br>
                        We will help you to create epic wallet and send your first <span class="text-warning"><img
                                style="height: 20px;" class="ml-1 pb-1" src="{% static 'images/btn1.png' %}">
                            Epic-Cash</span> right away!
                        <a href="{% url 'fastepic' %}" target="_blank" style="font-size: 19px;" class="text-muted">
                                More info...</a>
                </div>
            </div>
            <button type="button" class="btn m_button mt-2" data-dismiss="modal">Close</button>
        </div>
    </div>
    </div>
    <!-- End MODAL -->



</body>

</html>

<!-- <a href="#">
    <div class="card h-100 card-news text-white">
        <img class="card-img py-2 px-2 w-100" src="{% static 'images/t_fastepiclogo.png' %}"
            alt="fastepic.eu" style="display: block; margin-left: auto;margin-right: auto;">

        <p class="card-text mx-3 my-2 text-center">It's place where you can mine your epics, trade
            them and store secure.
            There is no registration, all you need is just your email!</p>

        <span class="card-text mt-5 text-center text-muted mb-0"><small> Click for more
            </small></span>
    </div>
</a> -->

<!--  -->



<!-- 
            <div class="card card-link text-white">
                <div class="row py-2 d-flex flex-wrap align-items-center">
                    <div class="col-auto col-md-5 text-right" >
                        <a href="{% url 'fastepic' %}">
                        <img class="pr-2 pb-2 img-fluid" src="{% static 'images/fast.png' %}">
                    </a>
                    </div>
                    <div class="col-lg-6 col-md-6 text-left">
                        <div class="px-4 py-2">
                                <a href="{% url 'fastepic' %}" class="text-white-50">        
                                <span style="font-size: 20px;">Make your first steps in to the <span class="text-white"><img
                                        style="height: 23px;" class="ml-1 pb-1" src="{% static 'images/btn1.png' %}">
                                    Epic-Cash</span>
                                world with fastepic.eu!</br> Create your first wallet, buy or sell your coins,
                                send to and receive from anyone just by using email address. There is also pool for
                                miners, ready to use straight away without configuration!
                            </span></a>
                       
                        </div>
                    </div>
                </div>
            </div>
        </div> -->