{% extends 'base.html' %}
{% load static %} {% load format %} {% load humanize %} {% load tz %}

<head>
    <title>Epic Cash Center</title>

    {% if title %}
    <title>Epic Cash Center - {{ title }}</title>
    {% else %}
    <title>Epic Cash Center</title>
    {% endif %}
</head>
<style>
    .card-title1 {
        font-family: "Times New Roman", Times, serif;
        font-size: 20px;
    }

    .zakladki {
        border-radius: 5px;
        color: red;
        font-size: 25px;
    }
</style>

<body>


    {% block content %}
    {% include navbar %}

    <div class="container-fluid mt-4">
        <!-- Start LEFT LINKS -->
        <div class="row flex-column-reverse flex-md-row py-2">
            <div class="col-lg-2 col-md-4  links">
                <div class="row pb-3">
                    <div class="col">
                        <div class="card h-100">
                            <div class="card-header text-center">
                                <a href="https://epic.tech/" target="_blank">
                                    <h3 class="card-title"> <img style="height: 25px;"
                                            src="{% static 'images/btn1.png' %}">
                                        Epic-Tech</h3>
                                </a>
                            </div>
                            <div class="card-body">
                                <a href="https://explorer.epic.tech/" target="_blank"><button type="button"
                                        class="btn btn-block btn-sm m_button mb-1 "><i
                                            class="fas fa-th-large text-info"></i>
                                        Explorer</button></a>
                                <a href="https://epic.tech/whitepaper/" target="_blank"><button type="button"
                                        class="btn btn-block btn-sm m_button mb-1 "><i
                                            class="fas fa-file text-info"></i>
                                        White Paper</button></a>
                                <a href="https://gitlab.com/epiccash" target="_blank"><button type="button"
                                        class="btn btn-block btn-sm m_button mb-1 "><i
                                            class="fab fa-gitlab text-info"></i>
                                        GitLab</button></a>
                                <a href="https://epic.tech/guidestutorials/" target="_blank"><button type="button"
                                        class="btn btn-block btn-sm m_button mb-1 "><i
                                            class="far fa-question-circle text-info"></i>
                                        Guides</button></a>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <div class="card h-100">
                            <div class="card-header text-center">
                                <h3 class="card-title"> <i class="fas fa-users text-light"></i> Social Media</h3>
                            </div>
                            <div class="card-body">
                                <a href="https://medium.com/epic-cash" target="_blank"><button type="button"
                                        class="btn btn-block btn-sm m_button mb-1 "><i
                                            class="fab fa-medium-m text-info"></i>
                                        Medium</button></a>
                                <a href="https://twitter.com/EpicCashTech" target="_blank"><button type="button"
                                        class="btn btn-block btn-sm m_button mb-1 "><i
                                            class="fab fa-twitter text-info"></i>
                                        Twitter</button></a>
                                <a href="https://www.reddit.com/r/epiccash/" target="_blank"><button type="button"
                                        class="btn btn-block btn-sm m_button mb-1 "><i
                                            class="fab fa-reddit-alien text-info"></i>
                                        Reddit</button></a>
                                <a href="https://www.instagram.com/explore/tags/epiccash/" target="_blank"><button
                                        type="button" class="btn btn-block btn-sm m_button mb-1 "><i
                                            class="fab fa-instagram text-info"></i> Instagram</button></a>
                                <a href="https://t.me/EpicCash" target="_blank"><button type="button"
                                        class="btn btn-block btn-sm m_button mb-1 "><i
                                            class="fab fa-telegram-plane text-info"></i> Telegram</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End row LEFT LINKS -->

            <!-- Start row with MAIN CARDS -->

            <div class="col-lg-auto col-md-auto col-sm-12" style="max-width: 800px;">
                <div class="card text-white h-100 pb-0">
                    <div class="card-title1 text-center"><img class="card-img pt-2 mr-2 pb-3 w-75"
                            src="{% static 'images/t_fastepiclogo1.png' %}" alt="fastepic.eu">
                    </div>
                    <hr>
                    <div class=" card-link text-white h-100 px-5 pb-0">
                        <div class=" card-title text-center">
                            <h2>What is fastepic.eu</h2>
                        </div>
                        <div class="text-white-50 text-left" style="font-size: 19px;">
                            Primary goal for fastepic.eu team is to deliver secure and anonymous place where
                            you can mine and trade your <span class="text-light"><img style="height: 20px;"
                                    class="ml-1 pb-1" src="{% static 'images/btn1.png' %}"> Epic-Cash</span>.
                            Opposite to other exchanges there is no need for registration, KYC or giving any
                            personal data. Creating account is easy,
                            and everyone can use it straight away!
                        </div>
                        <div class="ml-3 text-warning pt-3 pb-1" style="font-size: 18px;">
                            <li> Trade EPIC-BTC pair in secure and advanced exchange enginee</li>
                            <li> Send Epics to everyone just using email address or SMS </li>
                            <li> Receive  Epics from anyone without any extra software via email or SMS</li>
                            <li> Mine using simple software for Windows without configuration</li>
                            <li> Store safely your Epics without installing any extra software</li>
                        </div>
                        <hr>

                        <div class=" pt-2 card-title text-center">
                            <h3>How to start</h3>
                        </div>
                        <div class="text-white-50 text-left" style="font-size: 19px;">
                            <p> In order to create your account you simply need to initiate it by sending small
                                amount of <span class="text-light"><img style="height: 20px;" class="ml-1 pb-1"
                                        src="{% static 'images/btn1.png' %}"> Epic-Cash</span>. </p>
                            <p>The best way to do this is to download and configure
                                <a href="https://medium.com/epic-cash/epic-cash-send-and-receive-tutorial-a14945f7798"
                                    class="text-warning" target="_blank">
                                    Official CLI Wallet <span class="text-muted">(click for guide)</span></a>,
                                but you can also send coins from other exchange, or ask someone else to do this
                                for you.
                                Your address will look like this:</p>
                            <p><code>https://fastepic.eu/youremail</code></p>

                            <p>You can use any email address you want, but fastepic team recommend <a
                                    class="text-warning" href="https://protonmail.com/" target="_blank">Protonmail</a>
                                due to strong secure and privacy.</p>
                                

                            <p>In order to send from your CLI Wallet just type in command line:</p> 
                            <p><code>epic-wallet send -d https://fastepic.eu/youremail 0.001</code></p>
                            <p class="text-center">
                            <img  style="border-radius: 15px;" src="{% static 'images/fast_epic_3.png' %}" alt="fastepic.eu"></p>
                            <p> Where <code>0.001</code> is recommended amount (you can use any), and
                                <code>youremail</code> is your full email address.</p>

                                
                            <p>From now you can get access to your fastepic account by using given email address at
                                <a class="text-warning" href="https://fastepic.eu" target="_blank">fastepic.eu</a>.
                                New password is created and sent to you for each login attempt.</p>
                            <img class="w-100 pb-3" style="border-radius: 15px;" src="{% static 'images/fast_epic_2.png' %}" alt="fastepic.eu">
                            <p>At this point you are ready to start trade your <span class="text-light"><img style="height: 20px;"
                                class="ml-1 pb-1" src="{% static 'images/btn1.png' %}"> Epic-Cash</span> for bitcoin and other way round by using same email address at
                                <a class="text-warning" href="https://epic-ticker.tech/stock" target="_blank">Epic Home Exchange</a>. 
                                You can also send there your bitcoins, to buy more precious Epics :). 
                                </p>

                                <p class="text-right text-muted">`blacktyger</p>
                            
                        <div class="pb-3"></div>
                        </div>


                    </div>
                </div>
            </div>
            <!-- END Card 2-->
        </div>
    </div>
    </div>
    </div>

    </div>
    </div>
    <!-- END TABLES-->
    </div>

    {% include footer %}
    {% endblock %}




</body>