{% load static %} {% load format %} {% load humanize %}

<body>
    <div class="container-fluid mt-3 mb-2" style="background-image: url('{% static 'images/fast-bg-big.png' %}'); background-position: center;">
        <div class="row">
            <div class="col epicnavbar">
                <nav class="navbar-dark">
                    <p class="text-white text-center text-muted"> `blacktyger @ <a href="https://epic-ticker.tech">epic-ticker.tech</a> 2019 |
                        | Donations address: <a href="">https://epic-ticker.tech:3415</a>
                        <br> API thanks to <a href="https://www.coingecko.com/en" target="_blank">CoinGeko.com</a>
                        visit <a href="https://fastepic.eu" target="_blank">fastepic.eu</a>
                        contact: <a href="mailto:blacktyg3r@gmail.com">blacktyg3r@gmail.com</a>.<br>
                    </p>
                </nav>
            </div>
        </div>
</body>
