{% extends 'base.html' %}
{% load static %} {% load format %} {% load humanize %} {% load tz %}

<head>
    <title>Epic Cash Center</title>

    {% if title %}
    <title>Epic Cash Center - {{ title }}</title>
    {% else %}
    <title>Epic Cash Center</title>
    {% endif %}
</head>

<body>


    {% block content %}
    {% include navbar %}


    <div class="container-fluid mt-4">
        <!-- Start LEFT LINKS -->
        <div class="row flex-column-reverse flex-md-row py-2">
            {% include left_nav %}
            <!-- End row LEFT LINKS -->
  
            <!-- Start row with MAIN CARDS -->
            <div class="col-lg-10 col-md-12 col-sm-12">

                <div class="row">
                    <div class="col">
                        {% include cards %}
                        <!-- END row MAIN CARDS -->
                        <!-- START TABLES -->
                        <div class="row">
                            <div class="col">
                                {% include table1 %}
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- END TABLES-->
        </div>

        {% include footer %}
        {% endblock %}

</body>