

<!-- <div class="col-lg-3 col-md-3 col-sm-6 px-1 pb-2"> -->
        <!-- START Card 1-->
        <!-- <div class="card text-white h-100 pb-2">
            <div class="card-news" style="background: rgba(112, 112, 112, 0.1);">
                <div class="card-title text-center pt-1">Epic-Cash Price:</div>
            </div>
            <table class="table1 w-100 ">
                <tr class="align-items-center">
                    <td>
                        <div class="card-text text-white-50 font-weight-bold text-center pb-1 pt-1">
                            USD(T):
                        </div>
                    </td>
                    <td>
                        <div class="card-text text-right pr-2">
                            <span class="card-title1">{{ x.current_price|usd3}}</span>
                            <small>{{ arrow_check_price24|safe}}</small>
                        </div>
                    </td>
                </tr>

                <tr class="align-items-center">
                    <td>
                        <div class="card-text text-white-50 font-weight-bold text-center pt-2">BTC:
                        </div>
                    </td>
                    <td>
                        <div class="card-text text-right pr-2">
                            {% for x in api_epic_btc %}{{ x.current_price|btc}}
                            <small>{{ arrow_check_price24btc|safe}}{%endfor%}</small>
                        </div>
                    </td>
                </tr>

                <tr class="align-items-center">
                    <td>
                        <div class="card-text text-white-50 font-weight-bold text-center pt-2">24H:
                        </div>
                    </td>
                    <td>
                        <div class="card-text text-right pt-1 pr-2">
                            {{ x.price_change_percentage_24h_in_currency|procent}}
                            <small>{{ arrow_check_price24|safe}}</small>
                        </div>
                    </td>
                </tr>

                <tr class="align-items-center">
                    <td>
                        <div class="card-text text-white-50 font-weight-bold text-center pt-2">7D:
                        </div>
                    </td>
                    <td>
                        <div class="card-text text-right pr-2">
                            {{ x.price_change_percentage_7d_in_currency|procent}}
                            <small>{{ arrow_check_price7d|safe}}</small>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div> -->
    <!-- END Card 1-->


<!-- <a href="#">
    <div class="card h-100 card-news text-white">
        <img class="card-img py-2 px-2 w-100" src="{% static 'images/t_fastepiclogo.png' %}"
            alt="fastepic.eu" style="display: block; margin-left: auto;margin-right: auto;">

        <p class="card-text mx-3 my-2 text-center">It's place where you can mine your epics, trade
            them and store secure.
            There is no registration, all you need is just your email!</p>

        <span class="card-text mt-5 text-center text-muted mb-0"><small> Click for more
            </small></span>
    </div>
</a> -->

<!--  -->



<!-- 
            <div class="card card-link text-white">
                <div class="row py-2 d-flex flex-wrap align-items-center">
                    <div class="col-auto col-md-5 text-right" >
                        <a href="{% url 'fastepic' %}">
                        <img class="pr-2 pb-2 img-fluid" src="{% static 'images/fast.png' %}">
                    </a>
                    </div>
                    <div class="col-lg-6 col-md-6 text-left">
                        <div class="px-4 py-2">
                                <a href="{% url 'fastepic' %}" class="text-white-50">        
                                <span style="font-size: 20px;">Make your first steps in to the <span class="text-white"><img
                                        style="height: 23px;" class="ml-1 pb-1" src="{% static 'images/btn1.png' %}">
                                    Epic-Cash</span>
                                world with fastepic.eu!</br> Create your first wallet, buy or sell your coins,
                                send to and receive from anyone just by using email address. There is also pool for
                                miners, ready to use straight away without configuration!
                            </span></a>
                       
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        