{% load static %} {% load format %} {% load humanize %}

<body>  
    <div class="col-lg-2 col-md-0 links">
        <div class="row pb-3">
            <div class="col">
                <div class="card h-100">
                    <div class="card-header text-center">
                        <a href="https://epic.tech/" target="_blank">
                            <h3 class="card-title"> <img style="height: 25px;" src="{% static 'images/btn1.png' %}">
                                Epic-Tech</h3>
                        </a>
                    </div>
                    <div class="card-body">
                        <a href="https://explorer.epic.tech/" target="_blank"><button type="button"
                                class="btn btn-block btn-sm m_button mb-1 "><i class="fas fa-th-large text-info"></i>
                                Explorer</button></a>
                        <a href="https://epic.tech/whitepaper/" target="_blank"><button type="button"
                                class="btn btn-block btn-sm m_button mb-1 "><i class="fas fa-file text-info"></i>
                                White Paper</button></a>
                        <a href="https://gitlab.com/epiccash" target="_blank"><button type="button"
                                class="btn btn-block btn-sm m_button mb-1 "><i class="fab fa-gitlab text-info"></i>
                                GitLab</button></a>
                        <a href="https://epic.tech/guidestutorials/" target="_blank"><button type="button"
                                class="btn btn-block btn-sm m_button mb-1 "><i
                                    class="far fa-question-circle text-info"></i>
                                Guides</button></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <div class="card h-100">
                    <div class="card-header text-center">
                        <h3 class="card-title"> <i class="fas fa-users text-light"></i> Social Media</h3>
                    </div>
                    <div class="card-body">
                        <a href="https://medium.com/epic-cash" target="_blank"><button type="button"
                                class="btn btn-block btn-sm m_button mb-1 "><i class="fab fa-medium-m text-info"></i>
                                Medium</button></a>
                        <a href="https://twitter.com/EpicCashTech" target="_blank"><button type="button"
                                class="btn btn-block btn-sm m_button mb-1 "><i class="fab fa-twitter text-info"></i>
                                Twitter</button></a>
                        <a href="https://www.reddit.com/r/epiccash/" target="_blank"><button type="button"
                                class="btn btn-block btn-sm m_button mb-1 "><i
                                    class="fab fa-reddit-alien text-info"></i>
                                Reddit</button></a>
                        <a href="https://www.instagram.com/explore/tags/epiccash/" target="_blank"><button type="button"
                                class="btn btn-block btn-sm m_button mb-1 "><i class="fab fa-instagram text-info"></i>
                                Instagram</button></a>
                        <a href="https://t.me/EpicCash" target="_blank"><button type="button"
                                class="btn btn-block btn-sm m_button mb-1 "><i
                                    class="fab fa-telegram-plane text-info"></i> Telegram</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>