{% load static %} {% load format %} {% load humanize %}
{% for x in api_epic_usd %}



<div class="row pb-3">
    <!-- START CARD 2-->
    <div class="card text-white h-100 w-100 pb-2">
        <div class="card-news" style="background: rgba(112, 112, 112, 0.1);">
            <div class="card-title text-center pt-1">24H Volume:</div>
        </div>
        <table class="table1">
            <tr class="align-items-center">
                <td>
                    <div class="card-text text-white-50 font-weight-bold text-left pl-2 pr-5 pt-2 pb-1">EPICS:
                    </div>
                </td>
                <td>
                    <div class="card-title1 text-right pt-1 pr-2 pb-1">
                        <img style="height: 23px;" class="pb-1" src="{% static 'images/btn1.png' %}">
                        {{ total_vol_epic|cala|intspace}}
                        {% for k, v in api_ticker.market_data.items %}
                        {% if k == 'circulating_supply' %}
                        <span class="text-muted"><small>{{ v|vol_supply|procent}}</small></span>
                        {% endif %}
                        {% endfor %}
                    </div>
                </td>
            </tr>
            <tr class="align-items-center">
                <td>
                    <div class="card-text text-white-50 font-weight-bold white-50d text-left pl-2 pr-5 pt-1 pb-1">
                        VALUE:
                    </div>
                </td>
                <td>
                    <div class="card-text text-right pr-2 pb-1">
                        <span class="card-text">${{total_vol|cala|intspace}}</span>
                        <span class="text-muted"><small>{{total_vol|usdtobtc|btc3}}</small></span>
                    </div>
                </td>
            </tr>
            <tr class="align-items-center">
                <td>
                    <div class="card-text text-white-50 font-weight-bold text-left pl-2 pr-5 pt-1 pb-1">USD(T):
                    </div>
                </td>
                <td>
                    <div class="card-text text-right pr-2 pt-1 pb-1">$ {{ total_vol_usd|cala|intspace }}
                    </div>
                </td>
            </tr>
            <tr class="align-items-center">
                <td>
                    <div class="card-text text-white-50 font-weight-bold text-left pl-2 pr-5 pt-1">BTC:
                    </div>
                </td>
                <td>
                    <div class="card-text text-right pr-2">
                        {{ total_vol_btc|btc3 }}
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<!-- END Card 2-->

<!-- START Card 3-->
<div class="row pb-3">
    <div class="card text-white h-100 w-100 pb-2">
        <div class="card-news" style="background: rgba(112, 112, 112, 0.1);">
            <div class="card-title text-center pt-1">All Time High:</div>
        </div>
        <table class="table1">
            <tr class="align-items-center">
                <td>
                    <div class="card-text text-white-50 font-weight-bold text-left pl-2 pt-2 pb-1">
                        USD(T):
                    </div>
                </td>
                <td>
                    <div class="card-text text-right pr-2 pt-1 pb-1">
                        <span class="card-title1">{{ x.ath|usd3}}</span>
                    </div>
                </td>
            </tr>
            <tr class="align-items-center">
                <td>
                    <div class="card-text text-white-50 font-weight-bold text-left pl-2 pb-1 pt-1">
                        BTC:
                    </div>
                </td>
                <td>
                    <div class="card-text text-right pr-2 pb-0">
                        {% for x in api_epic_btc %}{{ x.ath|btc}}{%endfor%}
                    </div>
                </td>
            </tr>
            <tr class="align-items-center">
                <td>
                    <div class="card-text text-white-50 font-weight-bold text-left pl-2 pt-1 pb-1 ">
                        DATE:
                    </div>
                </td>
                <td>
                    <div class="card-text text-right pt-2 pr-2 pb-1">
                        {{ x.ath_date|datex}}
                        <small><span class="text-muted">{{ x.ath_date|last_trade}}</span></small>
                    </div>
                </td>
            </tr>
            <tr class="align-items-center">
                <td>
                    <div class="card-text text-white-50 font-weight-bold text-left pl-2 pt-2">
                        CHANGE:</div>
                </td>
                <td>
                    <div class="card-text text-right pr-2">
                        {{ x.ath_change_percentage|procent}}
                        <small>{{ arrow_check_ath|safe}}</small>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<!-- END Card 3-->
<div class="row">
    <!-- STATR CARD 4-->
    <div class="card text-white h-100 w-100 pb-2">
        <div class="card-news" style="background: rgba(112, 112, 112, 0.1);">
            <div class="card-title text-center pt-1">Market Cap:</div>
        </div>

        <table class="table1 w-100">
            <tr class="align-items-center">
                <td>
                    <div class="card-text text-white-50 font-weight-bold text-left pl-2 pt-2 pb-1">
                        SUPPLY:
                    </div>
                </td>
                <td>
                    <div class="card-text text-right pr-2 pb-1 pt-2">
                        {% for k, v in api_ticker.market_data.items %}
                        {% if k == 'circulating_supply' %}
                        <img style="height: 20px;" class="pb-1" src="{% static 'images/btn1.png' %}">
                        {{ v|cala|intspace }}
                        {% endif %}
                        {% endfor %}
                    </div>
                </td>
            </tr>
            <tr class="align-items-center">
                <td>
                    <div class="card-text text-white-50 font-weight-bold text-left pl-2 pt-0 pb-1">
                        USD(T):
                    </div>
                </td>
                <td>
                    <div class="card-text text-right pr-2 pb-1">
                        $ {{ x.market_cap|cala|intspace }}
                    </div>
                </td>
            </tr>
            <tr class="align-items-center">
                <td>
                    <div class="card-text text-white-50 font-weight-bold text-left pl-2 pt-1 pb-1">
                        BTC:
                    </div>
                </td>
                <td>
                    <div class="card-text text-right pt-1 pr-2 pb-1">
                        {% for x in api_epic_btc %}{{ x.market_cap|btc3 }}{%endfor%}
                    </div>
                </td>
            </tr>
            <tr class="align-items-center">
                <td>
                    <div class="card-text text-white-50 font-weight-bold text-left pl-2 pt-2">24H:
                    </div>
                </td>
                <td>
                    <div class="card-text text-right pr-2">
                        {{ x.market_cap_change_percentage_24h|procent}}
                        <small>{{ arrow_check_cap|safe}}</small>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

<!-- END Card 4-->
{% endfor %}